name: Publish @jellyfin/ux-web

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    if: ${{ github.repository == 'jellyfin/jellyfin-ux' }}
    defaults:
        run:
            working-directory: ./branding/web
    steps:
      - name: Check out Git repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          check-latest: true
          cache: npm
          cache-dependency-path: ./branding/web
          registry-url: https://registry.npmjs.org

      - name: Install Node.js dependencies
        run: npm ci --no-audit

      - name: Publish the SDK to npm
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
