name: Publish @jellyfin/ux-web

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    if: ${{ github.repository == 'jellyfin/jellyfin-ux' }}
    defaults:
        run:
            working-directory: ./branding/web
    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          check-latest: true
          cache: npm
          cache-dependency-path: ./branding/web
          registry-url: https://registry.npmjs.org

      - name: Install Node.js dependencies
        run: npm ci --no-audit

      - name: Publish the SDK to npm
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
